.switch {
  position: relative;
  width: 46px;
  height: 26px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  background: rgba(148, 163, 184, .25);
  transition:
    background .25s ease,
    transform .25s ease;
}

.switch:hover {
  background: rgba(148,163,184,.35);
}

.thumb {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  transition:
    transform .25s ease;
}

.checked {
  background: var(--primary);
}

.checked .thumb {
  transform: translateX(20px);
}

.switch:disabled {
  opacity: .5;
  cursor: not-allowed;
}