.grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 24px;
}

/* Tablet */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns:
      repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
.mb2{
  margin-bottom: 20px;
}